<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.FIleMapper">
    <insert id="addPic" useGeneratedKeys="true">
        insert into question_picture(question_id,picture) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{id},#{item}
            )
        </foreach>
    </insert>

    <select id="getId" parameterType="com.example.demo.pojo.Question" resultType="java.lang.Integer">
        select question_id from question where user_id=#{question.user_id} and user_name=#{question.user_name} and
               question_description=#{question.question_description} and question_detail=#{question.question_detail}
    </select>

    <select id="getImage" parameterType="java.lang.String" resultType="java.lang.String">
        select picture from question_picture where
        question_id =#{id}
    </select>
</mapper>
