<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="getUserInfo" parameterType="java.lang.String" resultType="com.example.demo.pojo.studentInfo">
        select user_id,user_mail,user_name,user_tags from user_info where user_id=#{id}
    </select>


    <insert id="uploadImg" useGeneratedKeys="true">
        insert into user_photo(user_id,photo) values(#{id},#{file})
    </insert>

    <select id="getPhoto" resultType="java.lang.String">
        select photo from user_photo where user_id=#{id}
    </select>
</mapper>